
#root {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  text-align: center;
  
  background-image: linear-gradient(170deg, rgb(247, 207, 206), rgb(243, 172, 100), rgb(203, 34, 99));
}

th {
  font-size: 3rem;
  padding: 3rem;
  padding-top: 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.selected-contact {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
}
.contact-list {
  max-width: 700px;
  text-align: center;
  color: #12090999;
  font-size: 20px;
  cursor: pointer;
  margin: 0 auto;
  padding: 20px;
  transition: background-color 1s ease;
}

td {
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 15px;
  border: 2px solid #fff9c4;
  
}

h1 {
  text-shadow: 1px 1px 0 #f8f8f1 ;
  color:#ad3232b5;
  font-size: 3rem;
  margin-bottom: 5px;
  padding: 15px;
}
h2 {
  text-shadow: 1px 1px 0 #f2f2d5f6 ;
  color:#ac3232b5;
  margin-bottom: 30px;
  margin-top: 5px;
  padding: 15px;
}

p {
  text-align: center;
  max-width: 400px;
  color: #12090999;
  font-size: 25px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 15px;
  border: 2px solid #fff9c4;
  border-radius: 20px;
  transition: background-color 1s ease;
}

p:hover {
  background-color: #fff47e;
}
td:hover {
  background-color: #fff47e;
}
